{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <!-- CSS de Bootstrap / Poncho -->
    <link rel="stylesheet" href="{% static "poncho/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "poncho/css/roboto-fontface.css" %}"/>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "poncho/css/poncho.css" %}"/>

    <!-- CSS propios -->
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    {% block styles %}
    {% endblock %}
</head>
<body class="with-header">

{% include "header.html" %}

<div class="content">
{% block content %}
{% endblock %}
</div>

{% include "footer.html" %}


<script src="{% static "js/libs/jquery.min.js"%}"></script>
<script src="{% static "js/libs/bootstrap.min.js" %}"></script>


{% block scripts %}
{% endblock %}
</body>
</html>
