{% load static %}
<div class="pad-footer">
    <div class="no-padding container">
        <div class="no-padding pad-footer-inst col-xs-12">
            <div class="social-links">
                <a href="https://www.facebook.com/GobAbiertoAR/" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>

                <a href="https://twitter.com/datosgobar" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/datosgobar" target="_blank">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </a>

                <a href="https://medium.com/datos-argentina" target="_blank">
                    <i class="fa fa-medium" aria-hidden="true"></i>
                </a>
            </div>

        </div>

        <div class="no-padding col-xs-12">
            <div class="no-padding col-xs-12 col-sm-6">
                <a href="https://www.argentina.gob.ar/modernizacion" target="_blank">
                    <img src="{% static "img/logo_ministerio.svg" %}" class="pad-footer-logo">
                </a>
            </div>
            <div class="no-padding pad-footer-contact col-xs-12 col-sm-6">
                <p>
                    ¿Tenés dudas?
                    <br>
                    <a href="mailto:datos@modernizacion.gob.ar">
                        ¡Escribinos!
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
