{% load static %}
<div id="header">
    <div id="header-content" class="container no-padding">

        <a href="https://medium.com/datos-argentina" target="_blank" class="pull-right">
            <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
        </a><a href="https://github.com/datosgobar" target="_blank" class="pull-right">
        <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
    </a><a href="https://twitter.com/datosgobar" target="_blank" class="pull-right">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a><a href="https://www.facebook.com/GobAbiertoAR/" target="_blank" class="pull-right">
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </a><a href="http://datos.gob.ar/" target="_blank" class="pull-right">
        DATOS.GOB.AR
    </a>
    </div>
</div>
