html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.center {
    text-align: center;
}

.circle-progressbar {
    margin: 10px;
    height: 300px;
}

.circle-progressbar > svg {
    height: 100%;
    display: block;
}
