.center {
    text-align: center;
}

.circle-progressbar {
    margin: 10px;
    height: 300px;
}

.circle-progressbar > svg {
    height: 100%;
    display: block;
}

.bottom-button {
    margin: 0 0 20px 0;
}