{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="container">
    <h1>{% block title %}{%endblock%}</h1>
    <table class="table table-bordered">
        <tr>
            <th>Jurisdicción</th>
            {% for name in indicator_names %}
                <th>{{ name }}</th>
            {% endfor %}
        </tr>
        {% for catalog_name, indicators in catalogs.items %}
            <tr>
                <td>{{ catalog_name }}</td>
                {% for value in indicators %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}
