{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/landing.css" %}"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="title center">Monitoreo del Plan de Apertura de Datos</h1>
        <h2 class="title-description center">de la Administración Pública Nacional</h2>
        <p><strong>Fecha:</strong> {% now "d \d\e F, Y" %}</p>
        <p><strong>Explorá el estado de los {{ items }} compromisos de apertura</strong> que asumieron las {{ jurisdicciones }} jurisdicciones de la Administración Pública Nacional, marcando el piso de compromiso del gobierno con la apertura de datos.</p>
        <p>También podés <strong>ver el estado de los {{ datasets }} conjuntos de datos</strong> publicados en los {{ catalogos }} catálogos que componen la Red de Nodos de Datos Abiertos y en el catálogo concentrador, el portal nacional de <a href="http://www.datos.gob.ar">Datos Argentina</a>.</p>
    </div>

    <div class="row numbers justify-content-between">
        <div class="col-lg-6 center">
            <p>Estado de los</p>
            <h3>{{ items }}</h3>
            <h4>compromisos de apertura</h4>
        </div>
        <div class="col-lg-6 center">
            <p>Estado de los</p>
            <h3>{{ datasets }}</h3>
            <h4>conjuntos de datos</h4>
        </div>
    </div>
    <div class="row center">
        <div class="col-lg-3">
            <strong class="center">Documentados en un catálogo</strong>
            <div id="donut-documentados" class="circle-progressbar" data-pct="{{ documentados_pct }}"></div>
        </div>
        <div class="col-lg-3">
            <strong>Descargables</strong>
            <div id="donut-descargables" class="circle-progressbar" data-pct="{{ descargables_pct }}"></div>
        </div>

        <div class="col-lg-3">
            <strong>Documentados según el perfil de metadatos</strong>
            <div id="donut-metadatos" class="circle-progressbar" data-pct="{{ ok_pct }}"></div>
        </div>

        <div class="col-lg-3">
            <strong>Actualizados</strong>
            <div id="donut-actualizados" class="circle-progressbar" data-pct="{{ actualizados_pct }}"></div>
        </div>
    </div>

    <div class="row bottom-button center">
        <div class="col-lg-6">
            <form method="get" action="{% url 'dashboard:compromisos' %}">
                <button type="submit" class="btn btn-primary">Ver datos por jurisdicción</button>
            </form>
        </div>

        <div class="col-lg-6">
            <form method="get" action="{% url 'dashboard:nodos' %}">
                <button type="submit" class="btn btn-primary">Ver datos por catálogo</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/libs/progressbar.min.js"%}"></script>
    <script src="{% static "js/monitoreo/landing.js" %}"></script>
{% endblock %}
