{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="container">
    <h1>Indicadores de la Red de Nodos de Datos Abiertos</h1>
    <table class="table table-bordered">
        <tr>
            <th>Ministerio</th>
            {% for name in indicator_names %}
                <th>{{ name }}</th>
            {% endfor %}
        </tr>
        {% for catalog_name, indicators in catalogs.items %}
            <tr>
                <td>{{ catalog_name }}</td>
                {% for value in indicators %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/monitoreo/landing.js" %}"></script>
{% endblock %}
